PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres.mgcuepljxlsqsfqllyur:Hemant@7558378027@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
SECRET_KEY=bhoomisetu_super_secret_jwt_key_2026_national_land_platform
JWT_EXPIRES_IN=24h
    